@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: var(--Off-black);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  background: var(--White);
  width: 600px;
  padding: 50px;
  border-radius: 20px;
  border-bottom-right-radius: 30%;
  position: relative;
}
.input {
  display: flex;
  margin-bottom: 35px;
}
.attribution{
  color: aliceblue;
  /* background: white; */
  margin-bottom: 32px;
}
input {
  font-size: 32px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 25px;
  border-radius: 10px;
  border: 0.5px solid var(--Light-grey);
  outline: none;
  letter-spacing: 2px;
  caret-color: var(--Purple);
  background: rgb(146, 146, 146);
}
h6 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--Light-red);
  font-size: larger;
}
hr {
  border: none;
  height: 1px;
  background: var(--Light-grey);
}
button {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--Purple);
  right: 50px;
  margin-top: -32px;
  cursor: pointer;
}
button:hover {
  background: var(--Off-black);
}
input:focus {
  border: 0.5px solid var(--Purple);
}
.img{
  width: 65px;
  height: 65px;
  /* border-radius: 50%; */
}
p.error {
  font-size: 12px;
  font-weight: 400;
  color: var(--Light-red);
  font-style: italic;
  margin: 5px 0;
}
.result{
  background: rgba(181, 199, 200, 0.87);
  border-radius: 25px;
 width: 374px;
}
.result h1 {
  font-size: 60px;
  font-style: italic;
}
.result span {
  color: var(--Purple);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 475px) {
  .input {
    margin-bottom: 40px;
  }
  input {
    font-size: 18px;
    width: 80px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .hy{
    display: none;
  }
  .content {
    background: var(--White);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    position: relative;
  }
  .result h1 {
    font-size: 45px;
    font-style: italic;
  }
  p.error {
    font-size: 10px;
  }
  button {
    right: 40%;
  }
  .result {
    margin-top: 40px;
    width: auto;
    height: auto;
  }
}